{% extends "layout.html" %} 

{% block head_declarations %} 

<link rel="stylesheet" href="{{ url_for('static', filename='css/page_object.css') }}">

{% endblock %} 

{% block content %}

<div>

    <div class="col-lg-10 col-lg-offset-1 col-md-12" id="datosContainerContainer">

        <div class="col-sm-6 header-col">
            <h3 id="pageObjectName">
                <strong>{{app_name}}</strong></h3>
        </div>
        <div class="col-sm-6 text-right header-col" style="padding-top: 20px">
            <button id="loadCodeButton" class="btn btn-default btn-sm" onclick="loadCodeView()"><span class="glyphicon glyphicon-open" aria-hidden="true"></span>返回</button>

            <button id="save" class="btn btn-default btn-sm" onclick="saveAppObject();"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>保存</button>
        </div>

        <div class="clearfix"></div>

        <h4>应用信息</h4>

        <div class="col-md-12" style="margin-bottom: 10px">
            <div class="col-xs-3 no-pad-left padding-right-5">
                <strong>应用名称</strong>
            </div>
            <div class="col-xs-3 padding-left-5 padding-right-5">
                <strong>版本号</strong>
            </div>
            <div class="col-xs-3 padding-left-5 no-pad-right">
                <strong>应用安装包</strong>
            </div>
        </div>

        <div class="clearfix"></div>
        <div id="datosContainer">
            <div id="elements">
                {% for element in app_object_data.elements %}
                <div class="element col-md-12 clearfix">
                    <div style="width: calc(100% - 34px)">
                        <div class="col-xs-3 no-pad-left padding-right-5">
                            <div class="input-group po-input-group">
                                <input type="text" class="form-control app-name" value="{{element.element_name}}" placeholder="name">
                            </div>
                        </div>
                        <div class="col-xs-3 padding-left-5 padding-right-5">
                             <div class="input-group po-input-group">
                                <input type="text" class="form-control app-version" value="{{element.element_value}}" placeholder="version">
                            </div>
                        </div>
                        <div class="col-xs-3 padding-left-5 no-pad-right">
                            <div class="input-group po-input-group">
                                <input type="text" class="form-control app-apk" value="{{element.element_display_name}}" placeholder="apk or path">
                            </div>
                        </div>
                    </div>
                    <div class="step-remove-icon">
                        <a href="javascript:void(0)" onclick="deleteElement(this);">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
                {% endfor %}
                {% if not app_object_data.elements %}
                <div class="element col-md-12 clearfix">
                    <div style="width: calc(100% - 34px)">
                        <div class="col-xs-3 no-pad-left padding-right-5">
                            <div class="input-group po-input-group">
                                <input type="text" class="form-control app-name" value="" placeholder="name">
                            </div>
                        </div>
                        <div class="col-xs-3 padding-left-5 padding-right-5">
                            <div class="input-group po-input-group">
                                <input type="text" class="form-control app-version" value="" placeholder="version">
                            </div>
                        </div>
                        <div class="col-xs-3 padding-left-5 padding-right-5">
                            <div class="input-group po-input-group">
                                <input type="text" class="form-control app-apk" value="" placeholder="apk or path">
                            </div>
                        </div>
                    </div>
                    <div class="step-remove-icon">
                        <a href="javascript:void(0)" onclick="deleteElement(this);">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
                {% endif %}
            </div>

            <div class="clearfix"></div>

                <button class="btn btn-default btn-sm" style="margin-left: 15px;" onclick="addAppObjectInput()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 增加应用</button>
        </div>

    </div>
</div>
<script src="{{ url_for('static', filename='js/page_object.js') }}"></script>

<script src="{{ url_for('static', filename='js/external/jquery.autocomplete.min.js') }}"></script>

<script>
    var project = "{{project}}";
    var pageObjectName = "{{app_name}}";
</script>

    {% endblock %}